<h1>Land Plots</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Plot ID</th>
            <th>Plot Size</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>2500</td>
            <td>Charlottesville</td>
            <td>Virginia</td>
            <td>20912</td>
        </tr>
        <tr class="active-row">
            <td>101</td>
            <td>3250</td>
            <td>Georgetown</td>
            <td>Washing D.C.</td>
            <td>20141</td>
        </tr>
        <tr>
            <td>102</td>
            <td>2500</td>
            <td>Williamsburg</td>
            <td>Virginia</td>
            <td>23312</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
