<h1>Employee</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>Bob</td>
            <td>McDonald</td>
            <td>111-222-3333</td>
            <td>110 Main St</td>
            <td>Charlottesville</td>
            <td>Virginia</td>
            <td>20912</td>
            <td>50000</td>
        </tr>
        <tr class="active-row">
            <td>101</td>
            <td>John</td>
            <td>Smith</td>
            <td>112-223-3334</td>
            <td>764 Canal St</td>
            <td>Georgetown</td>
            <td>Washing D.C.</td>
            <td>20141</td>
            <td>45000</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Pocahontas</td>
            <td>Smith</td>
            <td>757-222-3333</td>
            <td>110 Richmond Rd</td>
            <td>Williamsburg</td>
            <td>Virginia</td>
            <td>23312</td>
            <td>20000</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
