
<h1>Livestock</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Livestock ID</th>
            <th>Supplier ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>389</td>
            <td>John</td>
        </tr>
        <tr class="active-row">
            <td>101</td>
            <td>389</td>
            <td>Paul</td>
        </tr>
        <tr>
            <td>103</td>
            <td>466</td>
            <td>Jones</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
