
<h1>Produce</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Produce ID</th>
            <th>Supplier ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>200</td>
            <td>389</td>
            <td>John</td>
        </tr>
        <tr class="active-row">
            <td>201</td>
            <td>389</td>
            <td>Fitzgerald</td>
        </tr>
        <tr>
            <td>203</td>
            <td>466</td>
            <td>Kennedy</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
