/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(107,67,0,1) 0%, rgba(20,139,0,1) 45%, rgba(0,212,255,1) 77%);     
    background-attachment: fixed;
}